<!DOCTYPE html>
<html>
  <head>
    <title>Courier</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
